 
.circleLogo {
    max-width: 5 rem;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 3rem 0rem
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 1rem
}

.menu li a {
    text-decoration: none;
    color: var(--light-grey, grey)
}

.open-menu,
.close-menu {
    display: none;
}

@media screen and (max-width:425px) {
   
    header section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 3rem 0rem
    }
   
    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    
/* No lo coge*/
    .open-menu i::before {
        color:rgba(7,42,200);
    }
/* No lo coge*/
    .close-menu i::before {
        color: white;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display:flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--dark-blue);
        padding: 1rem;
        box-shadow: 0 0 0 100vmax rgba(7,42,200, 0.3)
    }



    .contactUs {
        display: none
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    .menu {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu li a {
        color: white;
    }



    .heroSection {
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 3rem;
        background-color: pink;
    }

    .contentHeroSection h1{
        font-size: 35px;
        line-height: 40px;
    }


    .rockParagraphs {
        padding: 1rem 0rem 
    }


    .buttonGetInTouch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        padding: 0
    }

    .getInTouch {
        width: 140px;
        height: 40px;
        background-color: var(--dark-blue, blue);
        border: none; 
        color: white
    }

    .getInTouch a {
        color: white
    }
    
    


    .imagesHeroSection {
        position: relative;

    }

    .blueCard {
        position: absolute;

        top: 0;
        left: -3rem;
        max-width: 60%;  
    }

    .thumbCard {
        position: absolute;
        bottom: -5rem;
        right: -3rem;
        max-width: 60%;  
    }

    .personPicture {
        max-width: 100%;
    }





    #clientSection {
        display: flex;
        padding: 1rem 3rem 3rem;
        background-color: beige;
    }

    .imagesClients {
        background-color: antiquewhite;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .airbnbLogo {
        max-width: 25%;
        justify-content: center;
    }
    .googleLogo {
        max-width: 25%;
    }
    .microsoftLogo {
        max-width: 25%;
    }
    .fedexLogo {
        max-width: 25%;
    }
    .amazonLogo {
        max-width: 25%;
    }




    #projectsSection {
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 3rem;
        background-color: pink;
    }

    #projectsSection section h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .projects h3 {
        font-size: 20px;
    }
    
    .projects {
        display:flex;
        flex-wrap: wrap;
    }


    .projectLogo1 {
        max-width: 100%;
    }
    .projectLogo2 {
        max-width: 100%;
    }
    .projectLogo3 {
        max-width: 100%;
    }

    .cardSimplify {
        margin: 1rem 0rem ;
        background-color: #FFFFFF;
    }
    .simplifyStructure p a {
        text-decoration: none;
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 16px;
    }
    .learnMore {
        padding-top: 2rem;
    }
    .simplifyStructure {
        padding: 1rem;
    }
    .simplifyStructure p {
        font-size: 15px;
    }

    .dashCoinCard {
        margin: 1rem 0rem ;
        background-color: #FFFFFF;
    }
    .dashCoinStructure p a {
        text-decoration: none;
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 16px;
    }

    .dashCoinStructure {
        padding: 1rem;
    }
    .dashCoinStructure p {
        font-size: 15px;
    }


    .vectoryCard {
        margin: 1rem 0rem ;
        background-color: #FFFFFF;
    }
    .vectorifyStructure p a {
        text-decoration: none;
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 16px;
    }

    .vectorifyStructure {
        padding: 1rem;
    }
    .vectorifyStructure p {
        font-size: 15px;
    }





    #testimonialSection {
        background-color: var(--dark-grey);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        height: 300px;

        background-image: url("/Assets/TestimonialsSecction/orbit.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #testimonialSection section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #testimonialSection section h2 {
        font-size: 25px;
        text-align: center;
        line-height: normal;
        color: var(--light-grey1);
    }

    #testimonialSection .testimonialComment p {
        color: var(--yellow);
        font-size: 14px
    }

    #testimonialSection .testimonialComment {
        justify-content: center;
        padding: 0 20px;
        text-align: center;
    }

    .clientPicture {
        max-width: 15%;
        border-radius: 70%;
    }
 
    .clientInformation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem
    }
    .kristinInformation {
        display: flex;
        flex-direction: column;
    }
    .clientInformation h7 {
        font-weight: 500;
        font-size: 13px;
        color:#A2D6F9
    }
    .clientInformation h8 {
        font-weight: 400;
        font-size: 10px;
        color: white;
    }


.emoji {
        height: 60px;
        width: 60px;
    }
    
    .contentTestimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


}





.contactUs {
    width: 150px;
    height: 52px;
    background-color: var(--dark-blue, blue);
    border: none
}
.contactUs a {
    text-decoration: none;
    color: #FFFFFF;
}
