 
.circleLogo {
    max-width: 5 rem;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 3rem 0rem
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 1rem
}

.menu li a {
    text-decoration: none;
    color: var(--light-grey, grey)
}

.open-menu,
.close-menu {
    display: none;
}

@media screen and (max-width:425px) {
   
    header section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem 0rem
    }
   
    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    
/* No lo coge*/
    .open-menu i::before {
        color:rgba(7,42,200);
    }
/* No lo coge*/
    .close-menu i::before {
        color: white;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display:flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--dark-blue);
        padding: 2.5rem 1rem;
        box-shadow: 0 0 0 100vmax rgba(7,42,200, 0.3)
    }



    .contactUs {
        display: none
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    .menu {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu li a {
        color: white;
    }



    .heroSection {
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 3rem;

    }

    .contentHeroSection h1{
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }


    .rockParagraphs {
        padding: 2rem 0rem 
    }


    .buttonGetInTouch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        padding: 0
    }

    .buttonGetInTouch p {
        font-weight: 700;
    }

    .getInTouch {
        width: 140px;
        height: 40px;
        background-color: var(--dark-blue, blue);
        border: none; 
        color: white
    }

    .getInTouch a {
        color: white
    }
    
    


    .imagesHeroSection {
        position: relative;
        padding-top: 4rem;

    }

    .blueCard {
        position: absolute;

        top: 3rem;
        left: -3rem;
        max-width: 60%;  
    }

    .thumbCard {
        position: absolute;
        bottom: -6rem;
        right: -3rem;
        max-width: 60%;  
    }

    .personPicture {
        max-width: 100%;
    }





    #clientSection {
        display: flex;
        padding: 3rem 3rem 3rem;

    }

    .imagesClients {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        row-gap: 2rem;
    }

    .airbnbLogo {
        max-width: 25%;
        justify-content: center;
    }
    .googleLogo {
        max-width: 25%;
    }
    .microsoftLogo {
        max-width: 25%;
    }
    .fedexLogo {
        max-width: 25%;
    }
    .amazonLogo {
        max-width: 25%;
    }




    #projectsSection {
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 3rem;

    }

    #projectsSection section h2 {
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }

    .projects h3 {
        font-size: 20px;
    }
    
    .projects {
        display:flex;
        flex-wrap: wrap;
    }


    .projectLogo1 {
        max-width: 100%;
    }
    .projectLogo2 {
        max-width: 100%;
    }
    .projectLogo3 {
        max-width: 100%;
    }

    .cardSimplify {
        margin: 1rem 0rem ;
        background-color: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30))
    }
    .simplifyStructure p a {
        text-decoration: none;
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 16px;
    }
    .learnMore {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .simplifyStructure {
        padding: 1rem;
    }
    .simplifyStructure p {
        font-size: 15px;
    }

    .dashCoinCard {
        margin: 1rem 0rem ;
        background-color: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30))
    }
    .dashCoinStructure p a {
        text-decoration: none;
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 16px;
    }

    .dashCoinStructure {
        padding: 1rem;
    }
    .dashCoinStructure p {
        font-size: 15px;
    }


    .vectoryCard {
        margin: 1rem 0rem ;
        background-color: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30))
    }
    .vectorifyStructure p a {
        text-decoration: none;
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 16px;
    }

    .vectorifyStructure {
        padding: 1rem;
    }
    .vectorifyStructure p {
        font-size: 15px;
    }





    #testimonialSection {
        background-color: var(--dark-grey);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        height: 300px;

        background-image: url("/Assets/TestimonialsSecction/orbit.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #testimonialSection section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #testimonialSection section h2 {
        font-size: 25px;
        text-align: center;
        line-height: normal;
        color: var(--light-grey1);
    }

    #testimonialSection .testimonialComment p {
        color: var(--yellow);
        font-size: 14px
    }

    #testimonialSection .testimonialComment {
        justify-content: center;
        padding: 0 20px;
        text-align: center;
    }

    .clientPicture {
        max-width: 20%;
        border-radius: 70%;
    }
 
    .clientInformation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem
    }
    .kristinInformation {
        display: flex;
        flex-direction: column;
    }
    .clientInformation h7 {
        font-weight: 500;
        font-size: 13px;
        color:#A2D6F9
    }
    .clientInformation h8 {
        font-weight: 400;
        font-size: 10px;
        color: white;
    }

    .emoji {
        height: 60px;
        width: 60px;
    }
    
    .contentTestimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }



    #servicesSection {

        flex-direction: column;
        padding: 3rem 3rem 3rem;

    }

    #servicesSection h2 {
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }

    .services h3 {
        font-size: 20px;
        line-height: normal;
    }

    .serviceInterfaceCard {
        margin: 1rem 0rem;
        background-color: #FFFFFF;
        padding: 2rem;   
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30))     
    }

    .serviceExperienceCard {
        margin: 2rem 0rem ;
        background-color: #FFFFFF;
        padding: 2rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30))
    }
    .serviceDevelopmentCard {
        margin: 2rem 0rem ;
        background-color: #FFFFFF;
        padding: 2rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30))
    }

    .services p a {
        text-decoration: none;
        color: var(--dark-blue);
        font-weight: 700;
        font-size: 16px;
        
    }

    #servicesSection .serviceParagraph {
        padding-bottom: 3rem;
        padding-top: 1rem;
    }

    .serviceLogo1 {
        height: 60px;
        width: 60px;
        background-image: url(/Assets/ServicesSections/1.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-size: 30px;
        background-color: var(--light-blue2);
        margin-bottom: 1rem;
    }

        .serviceLogo2 {
        height: 60px;
        width: 60px;
        background-image: url(/Assets/ServicesSections/2.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-size: 30px;
        background-color: var(--light-blue2);
        margin-bottom: 1rem;
    }

        .serviceLogo3 {
        height: 60px;
        width: 60px;
        background-image: url(/Assets/ServicesSections/3.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-size: 30px;
        background-color: var(--light-blue2);
        margin-bottom: 1rem;
    }

    #ctaSection {
        background-color: var(--yellow);
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #ctaSection h2 {
        font-size: 25px;
        text-align: center;
        line-height: normal;
        color: var(--dark-grey)
    }
    #ctaSection p {
        font-size: 15px;
        color: var(--dark-grey);
        text-align: center;
    }

    .containerSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .emailLogo::placeholder {
        background-image: url(/ProjectPage/NewsLetter/mail.svg);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 0.5rem center;
        color: var(--dark-grey);
        padding-left: 30px;
    }

    .emailLogo::placeholder:focus {
        outline: none;
    }
    .emailLogo {
        border: none;
    }

    .questionTag {
        padding: 0rem 0rem 1rem;
    }

    .containerSection form {
        padding-top: 2rem;
        display: flex;
        gap: 0.5rem;
        height: 70px;
    }

    .buttonCTA {
        width: 140px;
        height: 40px;
        background-color: var(--dark-blue, blue);
        border: none; 
        color: white
    }

    .footerConteiner {
        display: flex;
        flex-direction: column-reverse;

    }
    .footerConteiner .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .content .circleLogo {
        margin-bottom: 1rem;
    }

    .links {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2rem;
        
    }

    .links li a {
        text-decoration: none;
        color: var(--dark-blue);
        line-height: 2rem;

    }

    .upList, .buttomList {
        list-style-type: none;
        text-align: center;
    }
}



.contactUs {
    width: 150px;
    height: 52px;
    background-color: var(--dark-blue, blue);
    border: none
}
.contactUs a {
    text-decoration: none;
    color: #FFFFFF;
}
