.open-menu,
.close-menu {
    display: none;
}

@media screen and (max-width: 767px) {
   
    header section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem 0rem
    }
   
    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    

    .open-menu i::before {
        color:rgba(7,42,200);
    }

    .close-menu i::before {
        color: white;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display:flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--dark-blue);
        padding: 2rem 1rem;
        box-shadow: 0 0 0 100vmax rgba(7,42,200, 0.3)
    }



    .contactUs {
        display: none
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        z-index: 10;
        
    }

    .menu {
        flex-direction: column;
        align-items: flex-end;
        list-style-type: none;
        gap: 1rem
    }

    .menu li a {
        text-decoration: none;
        color: white;
    }
    .menu li {
        margin-top: 1rem;
    }


    #formSection {
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 3rem;
    }

    .title h1{
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }


    .contactForm {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .fullName  {
        margin-top: 3rem;
    }
    .fullName label {
        color: var(--light-grey);
        font-size: 17px;
        font-weight: 400;
    }
    .fullName input {
        width: 100%;
        height: 30px;
        border: none;
        background-color: var(--light-grey1);
    }
    .fullName div {
        margin-top: 0.5rem;
    }


    .email{
        margin: 1rem 0rem  
    }
    .phone {
        margin: 0.5rem 0rem  
    }
    .phone label {
        color: var(--light-grey);
        font-size: 17px;
        font-weight: 400;
    }
    .email input {
        width: 100%;
        height: 30px;
        border: none;
        background-color: var(--light-grey1);
    }
    .email label {
        color: var(--light-grey);
        font-size: 17px;
        font-weight: 400;
    }
    .email div {
        margin-top: 0.5rem;
    }
    .phone label{
        color: var(--light-grey);
        font-size: 17px;
        font-weight: 400;
    }
    .phone input {
        width: 100%;
        height: 30px;
        border: none;
        background-color: var(--light-grey1);
    }
    .phone div {
        margin-top: 0.5rem;
    }


    .message{
        margin: 0.5rem 0rem  
    }
    .message label {
        color: var(--light-grey);
        font-size: 17px;
        font-weight: 400;
    }
    .message textarea{
        width: 100%;
        border: none;
        background-color: var(--light-grey1);
    }
    .message div{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    #message::placeholder,
    #phone::placeholder,
    #email::placeholder,
    #fullName::placeholder {
        padding: 0.5rem 0.5rem;
    }
    .bottomSubmit {
        width: 100%;
        height: 50px;
        background-color: var(--dark-blue);
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
    }


    .footerConteiner {
        display: flex;
        flex-direction: column-reverse;

    }
    .footerConteiner .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .content .circleLogo {
        margin-bottom: 1rem;
    }

    .links {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2rem;
        
    }

    .links li a {
        text-decoration: none;
        color: var(--dark-blue);
        line-height: 2rem;

    }

    .upList, .buttomList {
        list-style-type: none;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    header section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem 0rem
    }

    
    .circleLogo {
        max-width: 5 rem;
    }

    header section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 3rem 3rem 0rem
    }

    .menu {
        list-style-type: none;
        display: flex;
        gap: 1rem
    }

    .menu li a {
        text-decoration: none;
        color: var(--light-grey, grey)
    }


    .contactUs {
        width: 150px;
        height: 52px;
        background-color: var(--dark-blue, blue);
        border: none;
        cursor: pointer;
    }
    .contactUs a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .menu {
        flex-direction: row;
        align-items: flex-end;
    }




    .projectSection {
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 3rem;

    }

    .contentSection h1{
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }






    .footerConteiner {
        display: flex;
        flex-direction: column-reverse;

    }
    .footerConteiner .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .content .circleLogo {
        margin-bottom: 1rem;
    }

    .links {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2rem;
        
    }

    .links li a {
        text-decoration: none;
        color: var(--dark-blue);
        line-height: 2rem;

    }

    .upList, .buttomList {
        list-style-type: none;
        text-align: center;
    }


}

@media screen and (min-width: 1024px) {

    header section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 52px;
        position:fixed;
        background-color: white;
        padding: 0px 100px 0px;
        z-index: 11;
    }

    .navBar {
        display: flex;
        justify-content: center;
    }
    
    .circleLogo {
        max-width: 5 rem;
    }


    .menu {
        list-style-type: none;
        display: flex;
        gap: 1rem
    }

    .menu li a {
        text-decoration: none;
        color: var(--light-grey, grey);
        font-weight: 700;
    }



    .contactUs {
        width: 150px;
        height: 52px;
        background-color: var(--dark-blue, blue);
        border: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 17px;
    }
    .contactUs a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .menu {
        flex-direction: row;
        align-items: center;
        column-gap: 60px;
    }


    .projectSection {
        display: flex;
        flex-direction: column;
        margin: 150px 100px 100px;

    }

    .contentSection h1{
        font-size: 60px;
        line-height: 70px;
        text-align: initial;
        font-weight: 700;
        color: var(--dark-grey)
    }






    
    .footerConteiner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 100px 100px 30px;
    }
    .footerConteiner .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .content .circleLogo {
        margin-bottom: 1rem;
    }

    .upList {
        display:flex;
        column-gap: 4rem;
        justify-content: flex-start;
        margin: 2rem 0rem;
        
    }
    .buttomList {
        display:flex;
        column-gap: 4rem;
        justify-content: flex-start;
        margin: 2rem 0rem; 
    }

    .links li a {
        text-decoration: none;
        color: var(--light-grey);
        line-height: 2rem;
    }

    .upList, .buttomList {
        list-style-type: none;
        text-align: center;
    }


}
